<html>
	<head>
		<title>Bitly Clone</title>
		<script
			  src="https://code.jquery.com/jquery-1.12.4.js"
			  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
			  crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="css/application.css">
		<script type ="text/javascript" src="js/application.js"></script>
		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	</head>
	<body>
		<%= yield %>
	</body>
</html>